@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap');
@mixin h1-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.527778px;
    color: #172339;
}

@mixin h1-text-bold {
    @include h1-text;
    font-weight: 700;
}

@mixin h1-text-tablet {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.777778px;
    color: #172339;
}

@mixin h1-text-tablet-bold {
    @include h1-text-tablet;
    font-weight: 700;
}

@mixin h1-text-desktop {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
}

@mixin h1-text-desktop-bold {
    @include h1-text-desktop;
    font-weight: 700;
}

@mixin p-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    color: #49566D;
}

@mixin btn-header-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
    color: #172339;
}

@mixin btn-intro-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
}

@mixin leads-h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #172339;
}

@mixin leads-p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.5px;
    color: #49566D;
}

@mixin footer-h2 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.416667px;
    color: #FAF8F6;
}

@mixin footer-h2-bold {
    font-weight: 700;
}

@mixin footer-h2-desktop {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #FAF8F6;
}

@mixin footer-h2-desktop-bold {
    @include footer-h2-desktop;
    font-weight: 700;
}

@mixin footer-p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.09px;
    color: #F3EDE7;
}

@mixin footer-p-desktop {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #F3EDE7;
}

@mixin footer-h3 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #FAF8F6;
}

@mixin copyright {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.0833333px;
    color: #49566D;
}