html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Epilogue;
    font-style: normal;
    background: #FAF8F6;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header,
main {
    padding: 0 1.6rem;
}