@import 'variables';
@import 'fonts';
header {
    width: 100%;
    height: 4.8rem;
    margin-top: 2.4rem;
    margin-bottom: 5.6rem;
    @include flex-row;
    .header-logo {
        width: 8.1rem;
        height: 3.2rem;
        background-image: url(/suite-landing/assets/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .btn-header {
        width: 18.2rem;
        height: 4.8rem;
        border: 1px solid #172339;
        border-radius: 0.6rem;
        background-color: #FAF8F6;
        @include btn-header-text;
        &:hover {
            cursor: pointer;
            background: #172339;
            color: #fff;
            transition: 0.5s;
        }
    }
}

//tablet version
@media screen and (min-width:768px) {
    header {
        width: 68.9rem;
        height: 5.6rem;
        margin: 4rem 4rem 8rem 4rem;
        .btn-header {
            width: 21.9rem;
            height: 5.6rem;
        }
    }
}

//desktop version
@media screen and (min-width:1440px) {
    header {
        width: 111rem;
        margin: 5rem auto 6.7rem auto;
        padding: 0;
    }
}